@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient {
        background: linear-gradient(45deg, rgba(88, 236, 255, 0.9), rgb(0, 147, 173), rgba(107, 230, 255, 0.9))

        /* animation-name: ColorChange;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier();
        animation-iteration-count: infinite; */
    }
    .flexcol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}